.CodeMirror {
    border-top: 1px solid #500;
    border-bottom: 1px solid #500;
}

#groovy-script-console-form {
    margin-top: 10px;
}

.groovy-script-console-line-error {
    background: #FBC2C4 !important;
    color: #8a1f11 !important;
}

.script-note {
    background: #fcfcfc;
    border: 1px solid #aab8c6;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #333;
    margin: 10px 0 0 0;
    padding: 10px 10px 10px 36px;
    position: relative;
}

pre {
    position: relative;
    padding: 10px 15px;
    background: #f7f7f7;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    font-size: 14px;
    color: #666666;
    border-left: 3px solid #7b7b7b;
}

pre code {
    padding: 0;
}

code {
    background: #f7f7f7;
    padding: 2px;
}
code, pre {
    font-family: monospace, serif;
    font-size: 1em;
}